.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /*background-color: orange;*/
    border-top: solid 0.1rem #000;
    height: 7rem;
    width: 100vw;
  }
  
  .footer p {
    height: 1rem;
    line-height: 1.6rem;
    margin-top: 0;
  }
  
  .footer a {
    opacity: 0.8;
  }
  .footer a:hover {
    opacity: 1;
    transform: scale(1.2);
  }
  