.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-top: solid 0.1rem #000;
    height: 6rem;
    width: 100vw;
  }
  
  .footer p {
    display: flex;
   margin: 0.5rem;
   justify-content: center;
   text-align: center; 
   
  }
  
  .footer a {
    height: 2rem;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .footer a:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  .copyDiv {
    height: 7rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .sjLogo { 
    display: flex;
    justify-content:center;
    text-align: center;
    margin-left: 0.5rem;
    padding-left: 0.5rem;;
  }
  .gitLogo {
    display: flex;
    justify-content: center;
    text-align: center;
  }