.nav {
    height: 4rem;
    padding: 1m;
    background-color: #00E6F6;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.3rem;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    margin: 5px 15px;
}

.nav ul li a:hover
 {
    padding: 0.4rem;
    box-shadow: 2px 2px 10px #000;
}


