.nav {
    display: flex;
    align-items: center;
    height: 4rem;
    width: auto;
    margin: 0.5rem;
    padding: 0.5rem;
    color: #999;
    font-size: 1.4rem;
    border-bottom: solid 0.2rem #999;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    
    display: flex;
    justify-content: space-evenly;
    /*margin-left: 7rem;*/
  
    
}

.nav ul li a {
    height: 1.5rem;
    width: 3rem;
    color: inherit;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    border: solid 0.05rem #F4F4F4; 
}

.nav ul li a:hover {
    margin: 0.5rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    color: #222;
    background-color: #F4F4F4;
    border: solid 0.05rem #999; 
    border-radius: 0.3rem;
}

