.nav {
    height: 4rem;
    padding: 1m;
    background-color: #00E6F6;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.3rem;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    margin: 0.6rem 1rem;
    padding: 0.4rem;
}

.nav ul li a:hover
 {
    
    box-shadow: 0.2rem 0.2rem 0.3rem #888;
}


